[2016-06-15 21:31] jlaura opened #1 "Fix install"
It looks like the conda build and push to Anaconda.org is missing a few critical file.  For example, neither `data\` nor `sqlalchemy_json` are being installed via a `conda install -c jlaura plio`.  These files must ship in order for `plio` to work.

[2016-06-15 21:32] jlaura opened #2 "Add KRC support"
Code exists for reading Hugh Keiffer's KRC binary file format.  These are the float and double versions, bin52 and .tds files.  These readers should be added to `plio`.

[2017-09-20 21:51] jlaura opened #14 "geofuncs boundary crossers"
geofuncs is having issues with footprints and intersections when the footprint is a boundary crosser

[2018-02-01 13:18] jlaura opened #20 "Doc Building / CSS"
Looks like [documentation](http://usgs-astrogeology.github.io/plio) is not building properly.  It would be ideal to take the automated documentation build solution from PySAT and inject it into plio.  Specifically the last three lines here (and the dependencies in the first two non-comment lines:

[code]

[2018-02-08 06:04] dpmayerUSGS opened #23 "io_gpf.py save_gpf(): "known" and "stat" fields should be int not float"
The "known" and "stat" fields in a Socet Set GPF should be integers. As currently written, save_gpf() will make these fields floats and writes them to the output file as decimal numbers.

I haven't tested how Socet Set will react to this yet but I do know that it's out of spec.

The only valid values for "known" are {0..6}

"stat" is a boolean flag. Valid values are {0..1}

[2018-02-13 15:30] dpmayerUSGS opened #24 "io_bae.py: Add read/write support for GXP-style GPFs"
Socet GXP has added additional fields and header lines to ground point files (GPFs). We should add support for read/write of these new "GXP-style" GPFs while maintaining the ability to read/write the old style.
Perhaps the easiest way to expose support to the user would be to add a keyword "format={GXP | Socet}?

[2018-02-13 15:50] thareUSGS commented on #24
not sure the best way to handle an "isGXP_gpf" function. Perhaps.

`
def isGXP_gpf(input_data):
    """
    Read  first two lines to find out if Socet SET or Socet GXP gpf file

    Parameters
    ----------
    input_file : str
                 path to the input data file

    Returns
    -------
    boolean   : True, False
    """
    # If second line of the gpf is not an integer (or gpf count),

[2018-02-13 16:58] thareUSGS commented on #24
not sure the best way to handle an "isGXP_gpf" function. Perhaps.

[code]

[2018-02-15 18:59] dpmayerUSGS commented on #24
@thareUSGS The GXP-style GPFs appear to have introduced several new fields, but in the current example (https://github.com/USGS-Astrogeology/plio/blob/master/plio/examples/SocetGXP/GXP_example_gpf.gpf) those fields aren't populated; they don't even contain zeros or NaNs.

Do we have any examples of GXP-style GPFs where those fields are populated?
Because of the vagueness of how Socet Set/GXP descr

[2018-03-10 03:06] tisaconundrum2 opened #26 "PackagesNotFoundError"
[code]

[2018-03-10 20:02] jlaura commented on #26
@tisaconundrum2

what python version? what conda version?

[2018-03-11 04:38] jlaura opened #27 "MRO ISIS3 Serials are Wrong"
[code]

[2018-03-12 06:25] tisaconundrum2 commented on #26
[code]

[2018-04-09 07:13] astroindhu opened #29 "Unable to install plio on MacOS: PackagesNotFoundError"
When I run **`conda install -c usgs-astrogeology plio`** in a new conda environment created using command **`conda create --name usgs_plio python=3`**, I receive the following error message

PackagesNotFoundError: The following packages are not available from current channels:

  - plio
  - pvl

Current channels:

  - https://conda.anaconda.org/usgs-astrogeology/osx-64
  - https://conda.anaconda.o

[2018-04-09 13:07] jlaura commented on #29
It looks like you are missing condo-forge in your channel listing.

PVL is available at: https://anaconda.org/conda-forge/pvl/files

See: https://conda.io/docs/user-guide/tasks/manage-channels.html for how to get the conda-forge channel added.

[2018-04-09 14:25] astroindhu commented on #29
Ah - fixed it 👍 thanks a lot !!

[2018-04-09 14:26] jlaura commented on #29
:+1:

[2018-04-09 14:26] #29 closed

[2018-04-09 14:27] jlaura commented on #26
@tisaconundrum2 Can you please checkout #29 and see if that fixes this issue as well.

[2018-05-04 20:44] jlaura opened #41 "socet2isis2socet close out"
- [x] Fix the database MRO/Mars_Reconaissance_Orbiter issue
- [x] Get test data that we know is 'good'(@dpmayerUSGS)
- [ ] Check images that have > 2 measures - these look wrong in the example
- [x] Push current Jupyter notebook into `plio` and a single `bin` script (https://github.com/USGS-Astrogeology/plio/blob/master/bin/Socetnet2ISIS.py)
- [ ] Check with @dpmayerUSGS for socnet2isis.py argumen

[2018-05-07 03:14] jlaura commented on #41
@all see #38 for the two newly closed items

[2018-05-07 19:26] tthatcher95 commented on #41
@all - remaining now is cleanup on the tabular data - cneteditor is the program to use to make sure that the tabular data is converting correctly.

[2018-05-14 16:41] tthatcher95 commented on #27
@jlaura Can this be closed yet?

[2018-06-13 17:50] jlaura opened #51 "isisnet2socet"
The argparse help documentation states:  parser.add_argument('p_radius', type=float, help='The semiminor radius of a given target.')`, but the [implementation](https://github.com/USGS-Astrogeology/plio/blob/master/bin/isisnet2socet#L34) is doing something weird that is not going to get a correct p_radius.

[2018-06-13 19:51] jlaura opened #53 "pyproj missin in meta.yml"
It looks like pyproj is missing from the meta.yml for builds meaning that a conda install plio will fail.

[2018-06-13 20:12] #51 closed

[2018-06-14 17:11] dpmayerUSGS commented on #53
Does pyproj also need to be inserted in setup.py?

[2018-06-14 17:29] jlaura commented on #53
since we only support installation via conda, I would argue not.  The counter argument, is that since GDAL is an optional dependency, we could consider not specifying GDAL inside of the setup.py and then also supporting a pip installation.

[2018-06-14 17:40] dpmayerUSGS commented on #53
I'd rather continue to only support installation via conda.
Motion to close this issue with successful merge/test passing of #55.

[2018-06-14 19:53] acpaquette commented on #53
Is this issue good to close then?

[2018-06-21 23:35] thareUSGS opened #59 "optional GDAL"
If GDAL is truly optional now, the main page should be updated to list how to install with/without it.

[2018-07-17 20:13] dpmayerUSGS opened #67 "plio on anacondacloud is out of date"
As of this moment the version of plio available on https://anaconda.org/usgs-astrogeology/plio hasn’t been updated in over a month and it doesn’t reflect some important commits that have been made since then.

Can someone please tick over the version number or do whatever else is necessary to trigger an update on conda?

[2018-07-17 20:38] jlaura commented on #67
plio 0.1.4 is current as of 11 minutes ago.

https://anaconda.org/usgs-astrogeology/plio

[2018-07-17 20:38] #67 closed

[2018-07-17 20:41] jlaura commented on #23
@dpmayerUSGS @tthatcher95 @acpaquette - What is the status on this?

[2018-07-17 20:41] jlaura commented on #24
@thareUSGS @dpmayerUSGS What is the status on this?

[2018-07-17 20:42] jlaura commented on #41
@all this sprint has concluded.  Please open new issues as necessary for the socet2isis and isis2socet scripts.

[2018-07-17 20:42] #41 closed

[2018-07-17 20:43] jlaura commented on #59
We only support an optional GDAL dependency if someone wants to do a custom, setup.py installation.

[2018-07-17 20:43] #59 closed

[2018-07-17 21:01] jlaura commented on #24
Is this an issue with plio or something that needs to be moved over into the GXP repo where you all have a number of these research tasks?

[2018-07-17 21:13] dpmayerUSGS commented on #24
This is a feature request or enhancement for 2 plio functions: `read_gpf()` and `save_gpf()`

It's a lower priority than it was when I initially opened it because subsequent research as part of the GXP project determined that GXP is backwards compatible with the Socet-style GPF format.

[2018-07-17 21:32] dpmayerUSGS commented on #23
This has not yet been addressed in `save_gpf()`

[2018-07-26 21:46] jlaura opened #68 "Footprints crossing 180 boundary are single part"
Currently, footprints that cross the 180 degree boundary (so wrap to -180) are being generated as single part polygons. These needs to be multi polygons or else the following occurs:

![boundary](https://user-images.githubusercontent.com/2105468/43290314-9cb516f8-90e2-11e8-8499-d4b0e21e6f93.png)

The solution is going to be to use multi polygons and to be smart about adding in the appropriate brea

[2018-08-16 15:51] dpmayerUSGS opened #70 "io_bae.py: Soft Conversion of GPF/IPF Fields Breaks Point IDs"
The point ID fields in Socet GPF and IPF files may contain any combination of letters, numbers, and underscores. Currently, the read functions for GPFs and IPFs soft convert fields in order to allow the point ID fields to be strings and other fields to be numeric.

Occasionally, Point IDs for a particular GPF/IPF will contain only numbers. This is both normal and valid as far as Socet Set is conce

[2018-08-16 19:31] thareUSGS commented on #70
This post might help: https://stackoverflow.com/questions/13293810/import-pandas-dataframe-column-as-string-not-int

[2018-08-23 00:22] jlaura opened #73 "io_bae: keywords.lis to socet has a non-trivial regex bug"
Specifically:

`numeric_matcher = re.compile(r'\W-?(?:0|[1-9]\d*)(?:\.\d*)?(?:[eE][+\-]?\d+)?')`

to

`numeric_matcher = re.compile(r'\W?-?(?:0|[1-9]\d*)(?:\.\d*)?(?:[eE][+\-]?\d+)?')`

needed to make leading white space optional.

This is a great catch by @jessemaple. So putting this in is trivial. The issue is that the numeric extractor was not tested. One option to test would be to pull the reg

[2018-08-23 13:54] #73 closed

[2018-08-26 17:20] jlaura opened #78 "utils tests port to pytest"
the utils module needs to have tests ported to pytest

[2018-09-10 17:33] dpmayerUSGS opened #80 "isisnet2socet and socetnet2isis Broken by Removal of transformations.py"
The removal of `spatial/transformations.py` in https://github.com/USGS-Astrogeology/plio/commit/f57d9d82fc636e2dbdde3d6a2b33212f2090e911 breaks `isisnet2socet` and `socetnet2isis`.
Those scripts are essentially wrappers around functions that were defined in `transformations.py`

The title of #76  hinted those functions would/should be moved to a different library. Have they been moved? Which libra

[2018-09-10 22:19] jlaura commented on #80
The necessary methods need to get pulled into either the bin scripts (not ideal) or the bae.py / control_network.py files where other BAE/ISIS3 supporting stuff is stored.

[2018-09-10 22:28] dpmayerUSGS commented on #80
Pulling most of the methods into`io_bae.py` and `io_controlnetwork.py` makes senseto me. I'll add it to my list of stuff to tackle at the start of next FY.

[2018-09-10 22:42] jlaura commented on #80
Sounds good.  I can also see about getting it pulled in too. I have some other plio work to do.  Thanks for catching this.  We need to get integration tests set up for the bin scripts.

[2018-09-25 17:04] michaelaye opened #82 "DOCS: make html fails in master"
(py36) └─❱❱❱ make html                                            +8978 11:04 ❰─┘
sphinx-build -b html -d build/doctrees   . build/html
Running Sphinx v1.8.1

Configuration error:
There is a programmable error in your configuration file:

Traceback (most recent call last):
  File "/Users/klay6683/miniconda3/envs/py36/lib/python3.6/site-packages/sphinx/config.py", line 368, in eval_config_file

[2018-09-25 17:06] michaelaye commented on #82
This is a chained error from the missing google dependency. closing here.

[2018-09-25 17:06] #82 closed

[2018-09-25 17:08] michaelaye opened #83 "Setting up a dev. environment"
[code]
The install_dependencies also don't mention `google` ?

[code]

but `protobuf`. Related?

System: macOS 10.13.6

[2018-09-26 15:13] jlaura commented on #83
@michaelaye We do not support a pip install, only a conda install. This is due to difficulty with protobuf and gdal installations.

[2018-09-26 15:41] michaelaye commented on #83
So how would I install it then if I want to add something?

Sent from my iPhone

[2018-09-26 16:01] jlaura commented on #83
https://github.com/USGS-Astrogeology/plio#installation

`conda install -c usgs-astrogeology plio`

[2018-09-26 16:37] michaelaye commented on #83
wow, okay, never saw a dev install via conda. Why would I edit source code directly inside the site-packages folder, that's immensely dirty. Guess I should add my image drivers to planetaryimage then.

[2018-09-26 16:46] jlaura commented on #83
@michaelaye I am really confused about what you are trying to do?  Are you looking to install plio to use or are you looking to develop for plio?

[2018-09-26 16:51] michaelaye commented on #83
I did say "if I want to add something"? Maybe I should have added "to plio"?
I would have hoped that the fact that I'm teaching others how to properly work with conda would have elevated me over the other interpretation of my sentence of "if I want to add something <to my python install thingie>" but I guess I failed. (Wasn't it me that taught you about environment-specific conda channel configura

[2018-09-26 16:56] jlaura commented on #83
I think we are different issues? This one is about pip installing plio. I would never pip install something that I was developing on. I would run a ` python setup.py develop` in the source tree.  For developing plio, we would run `conda env create -f environment.yml` in the source tree. This assumes that conda-forge is at the top of your conda channel list. From there, you can `setup.py develop` p

[2018-09-26 16:57] jlaura commented on #83
I should add that I am hoping to have time to get everything into just setup.py and then have the meta.yml (in the recipe) and the environment.yml all pull from a single place. The duplication in where dependencies are being specified is a maintenance headache.

[2018-09-26 17:01] michaelaye commented on #83
`pip install -e .` (note the `-e` which is equivalent to `develop`) is better than `python setup.py develop` because pip keeps track of more meta-data to the install, specifically, a cleaner removal.
You also could just add `-c conda-forge` to your environment setup to ensure that conda-forge is preferred. Thanks, I'll try this route.

[2018-09-26 17:05] jlaura commented on #83
:+1: on the `-e`. I think though that protobuf will be an issue for the setup.py. I need to try the pip 3.6.x protobuf to see what is up there. I am going to repoen this and retitle setting up a dev environment so that we can close the loop accurately.

[2018-09-26 17:11] michaelaye commented on #83
Hm, I see the double-load of work keeping things checked at 2 locations. I'm guessing that the conda environment route is the way of the future, what do you think? Or will pip exist in parallel forever? I myself haven't used the environment yaml files route that much, but if you were to restrict the dev install to the conda envs only, I think that would totally be justifiable. Unless you would spe

[2018-09-26 17:13] jlaura opened #85 "pip install using setup.py fails with protobuf"
Related to #83.

[2018-09-26 17:15] jlaura commented on #83
I just opened #84 to get this synced in at least one more place. I would love for setup.py to be the one and only palce this is ever defined. Then treat environment.yml and meta.yml and jinja templates and inject from there.

In an ideal world I would prefer to support pip/wheel and conda. My issue currently is with gdal and the way that the binaries (C++) are or are not installed via pip. If I co

[2018-09-26 17:38] jlaura commented on #83
@michaelaye I just merged #84, so the environment.yml is testing good fot setting up a dev. environment, cloning plio, and then running pytest. The merge will take a bit to build in the CI and update anaconda.org, but that should not impact you being able to see if this works on your side.

[2018-09-26 18:28] jlaura commented on #83
:tada: Thanks!
Are you happy with closing this issue?  Looks like we got it resolved. Also, appreciate any feedback / implementation on growing our driver base.

[2018-09-26 18:52] #83 closed

[2018-10-29 23:41] dpmayerUSGS opened #86 "Can't Generate ISIS3 serial numbers from IdealCamera"
I'm trying to generate ISIS3 serial numbers from some cubes that contain noproj'd HiRISE image data. Thus, SpacecraftName and InstrumentId as reported in their labels are "IdealSpacecraft" and "IdealCamera," respectively. However, when I run `generate_serial_number()` I just get the warning message "Unable to load an appropriate image translation"

The cubes themselves are definitely valid and are

[2018-10-30 21:01] thareUSGS commented on #86
This line from the original may inform how to handle HiRISE here. If "Ideal" it actually goes to "OriginalInstrument" section. We may need to do the same in this code.
https://github.com/USGS-Astrogeology/socet_set/blob/cafaced396d6d7e5267abe422475d978e82b352e/SS4HiRISE/Tutorials/ISD_keyword_examples/socetlinescankeywords_forReferenceOnly.cpp#L114

[2018-10-30 21:06] dpmayerUSGS commented on #86
That's interesting. plio is definitely not doing that, and neither is ISIS3's own `getsn`.

[2018-11-14 12:51] afrigeri opened #88 "dependencies / requirements"
Hello,

installing plio through pip I've noticed plio needs some modules not yet listed in doc_requirements.txt yet:
_networkx, pandas, pvl, h5py_

Alessandro

[2018-11-16 23:51] thareUSGS opened #89 "remove TypeError from except"
https://github.com/USGS-Astrogeology/plio/blob/f64c426c2c5266d4de1dcb5cf244e16ec3a2a9ce/plio/utils/utils.py#L50

This throws an error instead of just returning a string "s". I think just changing to expect: will fix it. e.g.:
frpm
    except TypeError:
to
    except:

[2018-11-19 23:14] dpmayerUSGS opened #91 "Builds for Python 3.6 on 64-bit systems Failing in Travis Appveyor"
I recently submitted PR #90 and was surprised to see both Travis and Appveyor failed because the PR only involved changes to existing bin scripts that are outside of testing coverage.

It looks like  `pytest` under Python 3.6 for 64-bit OSes no longer allows fixtures to be called directly. Those are the only Python version/OS-ytpe combinations that failed:
https://ci.appveyor.com/project/jlaura/pl

[2018-12-02 03:58] dpmayerUSGS commented on #86
I'm going to close this because it appears that it's not actually a bug in plio. In fact, `generate_serial_number()` is behaving the same as ISIS3's own `getsn` when applied to an IdealCamera.
The workaround that Trent cites above may not be appropriate for general use, and therefore may not be appropriate for plio.

[2018-12-02 03:58] #86 closed

[2018-12-02 06:01] jlaura commented on #85
Related to #88.

[2018-12-03 21:56] dpmayerUSGS opened #93 "plio segfaults under Python 3.5"
The latest build for plio under Python 3.5 for Linux installs with conda just fine (```conda install -c usgs-astrogeology plio python=3.5```), but invoking any of the bin scripts or attempting to import anything from the plio namespace within a Python script results in an immediate segmentation fault with no further messages.

Is this possibly due to an issue with GDAL?

[2018-12-31 18:39] jlaura commented on #89
@thareUSGS I think that `TypeError` is the desired behavior. If the passed variable can be converted to float it is, but if the past variable is not convertible it is a error in type conversion.

I am going to close, but please reopen if you think a different error type is more descriptive.

Docs:
[https://docs.python.org/3.7/library/exceptions.html#TypeError](https://docs.python.org/3.7/library/e

[2018-12-31 18:39] #89 closed

[2019-01-01 01:29] jlaura opened #94 "ChemCam Test Data Size too large"
The ChemCam data is likely larger than it needs to be. Can the data be reduced while maintaining the efficacy of the tests?

[2019-01-01 01:30] jlaura opened #95 "LIBS_TEST test data too large"
The test data is likely too large. Can the test data size be reduced while maintaining the efficacy of the tests?

[2019-01-02 19:35] jlaura opened #98 "Add SCVersioning to documentation"
We are currently pushing the documentation to [https://usgs-astrogeology.github.io/plio/](https://usgs-astrogeology.github.io/plio/). This documentation is not versioned though. We should offer documentation that is versioned along with the source. The [SCVersioning](https://robpol86.github.io/sphinxcontrib-versioning/v2.2.1/index.html) sphinx plugin supports this.

[2019-01-02 21:47] jlaura opened #99 "Setup.py should not import plio"
The MANIFEST.in is designed such that it is not necessary to use the `available()` function inside of the setup.py. This function is problematic because it means that setup.py needs to import plio. This in turn makes a conda build problematic because the library dependencies are also the host dependencies when they do not need to be.

[2019-01-29 16:03] ryanbanderson commented on #94
I'll take a look at this and #95 when I get the chance. LIBS spectra tend to have thousands of wavelengths, so they end up large, but yes we can probably shrink the files if they're being used strictly for testing.

[2019-03-27 20:40] acpaquette commented on #68
@jlaura Can this be closed?

[2019-03-27 20:46] acpaquette opened #103 "Update gdal import"
Gdal is being imported in the `__inti__.py` inside of the io module using find_spec and manually loading the module.

This can lead to problems within a jupyter notebook where plio can't find gdal due to the way packages are handled in conda envs.

This could probably be changed to a try except around the usual import method.

https://github.com/USGS-Astrogeology/plio/blob/baf43c4296b51cb1cbb7dfac

[2019-03-29 03:06] jlaura opened #104 "Kaguya Level 2C V3 Breakage"
The v2 2C data are being shipped with a detached header. This is breaking the reader that expects an attached header.

**Example Data**
Data can be accessed from the SELENE Data Archive: http://darts.isas.jaxa.jp/planet/pdap/selene/product_search.html

The Data set ID (first form box) is SLN-L-SP-4-LEVEL2C-V3.0. The Data set name is SELENE MOON SP 4 LEVEL2C V3.0. Any of the data here can be used t

[2019-03-29 15:21] jlaura opened #106 "CI on PRs needs to skip conda build"
The CI on PRs is attempting to do conda builds. They are working, but then attempting to do an upload to anaconda.org. The upload is failing because the upload key is not available on PRs. We need to put an if/else in to check if the CI is running on a PR.

[2019-04-01 22:26] #104 closed

[2019-05-18 14:35] astrostu opened #108 "Python Versioning Issues? Empty Control Net in 3.6.x, ValueErrors in 3.7.x"
I've re-installed Anaconda and ISIS3 and PLIO from scratch a few times over the last several hours trying to track this down and finally think I've at least figured out enough to identify the problem(s).  (Please note, I'm very new to Anaconda.)

I'm on macOS, and I installed Anaconda for Python 3.7.x.  It installs.  I then follow the instructions for installing an ISIS3 environment, with conda cr

[2019-05-18 15:24] jessemapel commented on #108
Right now ISIS doesn't play nicely with other Anaconda packages, so I'm not too surprised install order matters when installing both together. The Control Network sounds like genuine errors, though. I'll take a quick look at this next week.

[2019-05-24 20:07] jlaura opened #109 "Control Network Object should default to GeoPandas Object"
We already have pandas and gdal as dependencies. We should just return the dataframe from an isis control network as a geopandas data frame. This avoids clients having to do stuff like:

[code]

This is a convenience item I believe, but will impact how we write out networks as well. We need to address #108 to confirm everything is working before adding this enhancement.

[2019-05-28 09:18] astrostu commented on #108
Lots more experimentation.  I solved one thing, made a workaround for another, and discovered what I think are several more bugs.

Fixed: The "ValueError" is me not understanding how to create proper Pandas dataframes and Dictionaries.

Workaround:  Calling PLIO from ISIS3 conda environments can be done by invoking "conda run -n [PLIO environment] [Python script that uses PLIO]".  So I can now cal

[2019-05-28 09:19] astrostu commented on #108
Looks like it only attached the network.  Here's the Python script and SN list as a ZIP.
[Archive.zip](https://github.com/USGS-Astrogeology/plio/files/3226641/Archive.zip)

[2019-05-28 17:53] jlaura commented on #108
A few items:

1. Please, open new bugs as independent bug reports.
1. Thank you for reporting. We are not currently directly funded to make changes to this library. Therefore, PRs are solicited with fixes for these issues. We will seek to fit in fixes, but we primarily support this library in our off time (nights and weekends).

[2019-05-28 17:54] astrostu commented on #108
Shall I edit/delete the non-followups and move to (a) different threads?

[2019-05-29 22:44] jessemapel opened #110 "Control Network dataframe column names are incorrect"
Split from #108 and @astrostu

[2019-05-29 22:45] jessemapel opened #111 "Subsets of control networks are not written out correctly."
Split from #108 and @astrostu

[2019-05-29 22:47] jessemapel commented on #108
@astrostu leave this open, I've gone ahead and created new issues for your other 2 bugs. These may be related and may have a common solution, but because they are all different "symptoms" we prefer to keep them in separate issues. If a single change fixes all of this, it can be noted in the pull request.

[2019-06-12 16:37] jessemapel commented on #108
For some resolution on this, the empty control network is because the support for V5 ISIS control network isn't out in the current 1.2 release. We haven't figured out a release schedule yet, we're expecting to make a few tweaks to the control network support in the coming weeks. Once that is done, we should put out 1.3

[2019-06-12 16:41] jessemapel commented on #110
This is because we use the names of values from the protobuf files. This results in both different names from what ISIS generally uses and also conflicts where the control point and control measure have columns with the exact same name (things like jigsaw rejected have the same name for measures and points).

[2019-06-13 06:16] astrostu commented on #110
That's what also causes the duplicate things (like the datetime issue)?  At least this is sort of something that can be worked around by someone who's fairly naïve (me!).  My workaround for the column names:

`df = io_controlnetwork.from_isis("test.net")
df.rename(columns={'id':'point_id'}, inplace=True)
columns_renamed = []
counter = 0
for column in df.columns:
    if column == 'type':
        if

[2019-06-13 07:02] jessemapel commented on #110
That workaround should do the trick. I'm working on a solution in the code itself. We generate the column names by taking all of the control point attributes and appending all of the control measure attributes. I'm renaming the duplicates before we append them so this isn't needed.

[2019-06-13 07:16] astrostu commented on #110
Of course, code-side would be better!

[2019-06-17 21:29] jessemapel opened #117 "Add commit hash to dev build version"
Right now, the version for the Anaconda release is the same for each dev build so running `conda update plio` doesn't update properly. We should add the commit hash so we can distinguish different dev builds.

[2019-06-19 17:34] jessemapel opened #121 "control network `to_isis` and `from_isis` expect different column names in the df"
The `from_isis` method creates a df with column names that match the ISIS protobuf spec. The `to_isis` method expects a df with different column names. This means you cannot do the following:

[code]

[2019-06-19 17:38] jessemapel commented on #110
I think the duplicate values are due to there being duplicates of the `datetime` field in the protobuf. For each measure, there is a `datetime` field for the measure and a `datetime` field for the point. They both have the same name, so they are getting appended to.

[2019-06-19 17:39] jessemapel commented on #121
This may be the cause of #111

[2019-06-19 17:39] jlaura commented on #121
Labelled as a bug since we should be able to roundtrip inside of plio. Consumers of plio that need to do formatting should be doing that formatting locally.

[2019-06-25 21:22] ladoramkershner opened #125 "pvl header on cnet output incorrect"
Control networks output have defaults of None if values are not available. However, cpp has Null types for empty values and this causes issues if you attempt to merge control networks from isis and plio.

[2019-06-25 21:24] jlaura commented on #125
Can you post in the fields where this is presenting?

[2019-06-25 21:28] ladoramkershner commented on #125
I apologize, could you clarify? The fields of the pvl label, or the portion of code I believe is responsible?

[2019-06-25 21:29] jlaura commented on #125
Sorry yes. What does the current error look like? Which fields are being effected? The protobuf spec should be handling the type conversion (none->null), so knowing where this is occurring will help get a soln cooked.

[2019-06-25 21:40] ladoramkershner commented on #125
Attempting to run an isis cnetmerge on demo.net (plio generated) and hand_ground.net (isis generated):
**_cnetmerge inputtype=cnets base=demo.net cnet2=hand_ground.net onet=demo_wgrnd.net networkid='demo_wgrnd' log=demo_wgrnd.log description='demowithground'_**

and I receive the error:
**_USER ERROR Input [] does not target the same target as other Control Network(s)._**

looking at the labels of

[2019-06-25 21:41] ladoramkershner commented on #125
Let me know if that is what you were looking for or if you would like more info!

[2019-06-25 22:19] jlaura commented on #125
That is perfect! Shouldn't these both be target Mars? I thought ISIS didn't support an empty target to begin with? (so plio should error if no target). @jessemapel

[2019-06-25 23:06] jessemapel commented on #125
I'm not sure what ISIS does with no target. I'd have to go look at the ISIS control net versioner.

[2019-06-25 23:20] ladoramkershner commented on #125
They should, so that is another error. I am doing some hand stuff to get the cnets merged, but it should also be fixed. I will create a ticket

[2019-06-26 03:58] jlaura commented on #125
Is this then a 'code working as expected' and we should make the change in AutoCNet (and improve the documentation/warning in here)?

[2019-06-26 15:58] ladoramkershner commented on #125
I believe so, I will make a separate ticket here to clean it up/summarize.

[2019-06-26 15:58] #125 closed

[2019-06-26 19:45] ladoramkershner opened #126 "No warning/error if no targetname passed to to_controlnetwork"
If no target name is in autocnet and a controlnetwork is output (using plio, however that is done) it will set the TargetName in the control network to 'None'. Should raise a warning or error instead.

**_Group = ControlNetworkInfo
NetworkId = None
TargetName = None
UserName = None
Created = "2019-06-25 19:13:25"
LastModified = "2019-06-25 19:13:25"
Description = None
NumberOfPoints = 263
NumberOf

[2019-08-21 17:24] acpaquette commented on #121
@jessemapel Looks like the case you outlined in the original issue was fixed by #131. However the split between measure columns and point columns outlined in #122 may no longer be present

[2019-08-21 20:10] #121 closed

[2019-08-21 20:12] jessemapel commented on #121
That is a problem then. There are fields on the measures and points that have the same name. if they don't have the prefixes any more then things are not going to write out correctly.

[2019-09-10 17:20] ladoramkershner opened #133 "Read in control networks do not have the same line/sample values"
This code
[code]
produces (just using the first few as an example, but this is repeated throughout):
[code]

However, if you look at the cnetbin2pvl the values read
[code]

The apriori line/sample are fine, but the line and sample values are off. It seems in the first two examples, it is just the tenths place is off. However, looking at the third example it is also off in the ones place. Additiona

[2019-09-10 19:12] jlaura commented on #133
This looks like `plio` is doing what it should be doing for the line/sample. The plio pixel origin is the upper left corner (0,0) for every pixel. The ISIS pixel origin is the center of the pixel (0.5, 0.5).

Here is where the write is adding the offset: https://github.com/USGS-Astrogeology/plio/blob/master/plio/io/io_controlnetwork.py#L289

Here is where the read is backing the offset out: https:

[2019-09-10 21:05] ladoramkershner commented on #133
Well, my issue is that our database is using isis camera models and the control network on my computer is also in isis, so shouldn't the numbers be the same?

[2019-09-10 21:07] jlaura commented on #133
So, this is an example of where autocnet needs to be doing the right thing and doing the addition/subtraction when the isis sensor is being used.

[2019-09-10 21:10] ladoramkershner commented on #133
Except this conversion doesn't need to be happening at all. I think plio makes a blanket assumption that everything we hand it is in something other than isis pixel space (is that correct?).

If so, is there a way for us to communicate that the pixels do not need to be shifted?

[2019-09-10 21:27] jlaura commented on #133
Why doesn't the conversion need to occur? Autocnet's matcher is removing the offset when the isis sensor is used. Is this being missed someplace else?

[2019-09-10 21:40] ladoramkershner commented on #133
I am not sure where autocnet is removing this offset. iterative_phase()?

[2019-09-10 21:48] jlaura commented on #133
https://github.com/USGS-Astrogeology/autocnet/blob/d8a1c2088f81434ab13892e4932f51514c17dc1b/autocnet/spatial/isis.py#L53
and
https://github.com/USGS-Astrogeology/autocnet/blob/d8a1c2088f81434ab13892e4932f51514c17dc1b/autocnet/spatial/isis.py#L72

[2019-09-10 22:40] ladoramkershner commented on #133
It looks like it is getting a half pixel added based on if the source is image. However, our points are from an image, but were projected using the isis cam_type. So it is shifting everything a half pixel unnecessarily, I think. I think this code was written before the option for using isis cam vs csm cam was available.

I am not very familiar with how this piece of code ties in with everything el

[2019-10-09 23:42] dpmayerUSGS opened #135 "socetnet2isis and isisnet2socet Applying Uneccessary 0.5 pixel shifts"
As of #127 , plio has adopted a (0,0) pixel origin. Currently, the `socetnet2isis` and `isisnet2socet` bin scripts perform both an origin shift and a pixel origin correction. Based on the changes made to `to_isis()` and `from_isis()` in #127, the pixel origin correction in the bin scripts is now in error by 0.5 pixels in both the sample and line directions.

To fix this, the bin scripts should be

[2019-10-15 15:36] jessemapel commented on #135
@dpmayerUSGS Are you comfortable putting up a PR as you've already identified the fix?

[2019-10-15 16:12] dpmayerUSGS commented on #135
@jessemapel That depends. What else would the PR need to contain other than edits to those 4 lines in order to be accepted and merged?

[2019-10-15 16:16] jessemapel commented on #135
I'm fairly sure the scripts are not actually tested in the repo so that's it.

[2019-10-15 16:38] dpmayerUSGS commented on #135
I can confirm that the scripts are not tested. I'll self-assign this issue.

[2019-10-15 16:49] jessemapel commented on #135
Either @tthatcher95 or @acpaquette Can review as they originally worked on the scripts.

[2019-10-24 02:40] #135 closed

[2020-01-02 17:10] jessemapel opened #137 "Cannot write out control networks with any log data in them"
When trying to write out a network with log data in it, I get the following error: `AttributeError: Assignment not allowed to repeated field "log" in protocol message object.`

This is due to trying to assign over a repeated field in the protobuf message. You must instead extend the field.

I am working on a fix for this.

[2020-01-03 00:49] #137 closed

[2020-02-24 20:49] jessemapel opened #139 "compute_covariance converts longitude distances to radians incorrectly."
When converting longitude uncertainties from distances to angles, the cosine of the latitude is being multiplied when it should be divided. This is a carryover from when this code was ported from ISIS.

See https://github.com/USGS-Astrogeology/ISIS3/issues/3654#issuecomment-590540469 for more information.

[2020-02-27 22:11] #139 closed

[2020-03-06 23:43] astrostu opened #141 "PLIO TypeError When Trying to Write Out a v5 Control Network"
Hi:  A couple things in PLIO have been improved and fixed since I last tried this 9 months ago, so I wanted to try again to write out a control network (plio-1.2.2-3_dev).  I read in a version 5 control network binary, and then try to write it out using io_controlnetwork.to_isis() and explicitly setting version=5.

The error I get is:
[code]

I get this also if I try to explicitly write it out as

[2020-03-09 15:46] jessemapel commented on #141
This looks like it's a bug in PLIO and not somewhere else. What's happening is that your read-in control network has V5 components in it and then when it tries to write it out, it attempts to append them to V2 components which results in that error.

The correct fix here is to properly un-pack the control measure log data and control point log data into Python structures and then re-pack them when

[2020-03-09 16:15] astrostu commented on #141
Storing blanks to the pointLog and measureLog columns results in the same error.  Deleting them lets me write out a network.  But, ISIS3 then can't read it:

[code]

It also output a 2.0 MB control network, 10% larger than the 1.8 MB network it had read in.  My naïve interpretation is that it's still trying to write out some amalgamation of a v2 and v5 network.

This is what I as trying to do to w

[2020-03-09 16:38] jessemapel commented on #141
That error looks like it's not related to the log data. Can you check that there isn't a repeated measure in that point?

[2020-03-09 20:14] astrostu commented on #141
That point is comprised of two, unique measures.  And image MRO/CTX/1073920639:230 is not one of them.
[cnet_master_FINALAUTOMATED_jigsaw.net.zip](https://github.com/USGS-Astrogeology/plio/files/4308732/cnet_master_FINALAUTOMATED_jigsaw.net.zip)

[2020-03-09 23:29] astrostu commented on #141
P.S.  Here are the commands I'm running, from the command line.  Just trying to get a simple in-out working at this point:

[code]

[2020-03-13 19:52] jessemapel opened #142 "Hangs when trying to get the serial number for some CTX images"
This happened for me with plio 1.2.3 and J05_046756_1577_XN_22S201W. Here's the instrument group:

[code]

[2020-03-14 03:38] jlaura commented on #142
I created #143 with the label off of `J05_046756_1577_XN_22S201W`. I am not seeing this hanging locally, but I have only run the tests a dozen times or so. Could this be intermittent?

CI is running on this now as well, so the tests will get run in another env as well.

Also, here is my env. What does yours look like?

<details>

[code]
</details>

[2020-03-16 15:51] jessemapel commented on #142
Here's my environment. I have plio at hash 0024606f96decbf61f4d41e81c7f9e618fb69514 and it also happens at the conda-forge 143 release.

This doesn't happen intermittently for me, it happens everytime I call the function. I'm going to try a bit more testing today on this.

<details>
[code]
</details>

[2020-03-16 16:32] jessemapel commented on #142
Running a query directly through the engine seemed to resolve the issue. I'm not sure why but running this code before calling generate_serial_number caused it to run correctly.

[code]

[2020-03-16 16:57] jessemapel commented on #142
If I hit an exception during the code block that is getting the serial numbers this comes back. I wonder if there is an issue with the connection remaining open after an exception elsewhere and that blocks future connections?

[2020-03-17 15:39] jessemapel commented on #142
After more testing this appears to be an issue with sqlite3 and NFS. From the [sqlite 3 docs](https://www.sqlite.org/lockingv3.html):

For right now I am working around this by storing the database on a non-NFS drive.

[2020-03-17 20:58] jessemapel commented on #142
I'm chocking this up to the NFS problem. Will re-open if issue continues.

[2020-03-17 20:58] #142 closed

[2020-04-12 16:05] ladoramkershner opened #144 "plio cannot write out 'GoodnessOfFit' value"
After subpixel registration using pointreg, a purely ISIS control network will contain the following keywords:
[code]

However, none of these keywords appear in ControlPointFileEntryV0005_pb2.py. So you cannot use plio to write out a subpixel registered network that contains your matching criteria.

[2020-04-13 18:00] jessemapel commented on #144
These values are stored in the ControlMeasureLogData which is a rather odd part of ISIS ControlMeasures and is not handled well in PLIO right now:

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/control/objs/ControlMeasureLogData/ControlMeasureLogData.h#L63

[2020-04-13 18:02] jessemapel commented on #144
In the protobuf, the ControlMeasureLogData is stored as an array of messages in each ControlMeasures message (the same way that ControlMeasures are stored as an array of messages in each ControlPoint message).

https://github.com/USGS-Astrogeology/ISIS3/blob/dev/isis/src/control/objs/ControlNetVersioner/ControlPointFileEntryV0005.proto#L84

[2020-04-16 02:37] jlaura commented on #144
@jessemapel Does ISIS not define a ControlPointLogData object? I see PointLogData defined in the protobuf spec, but I do not see anywhere that ISIS is making use of the field. I'm looking for the enum of the data type to field like you linked above for the measures.

[2020-04-17 16:16] jessemapel commented on #141
This should be fixed by #146

[2020-04-17 16:19] jessemapel commented on #133
@ladoramkershner @jlaura It looks like PLIO is behaving as expected here and this is an autocnet issue. Can this be closed?

[2020-04-17 16:24] ladoramkershner commented on #133
Yes, we were keeping it open for the conversation but we actually just reviewed autocnet for this and got it all sorted

[2020-04-17 16:24] #133 closed

[2020-04-17 16:24] jessemapel commented on #144
Looking through the code base, I can't see anything that actually uses it. I believe it's an old carry-over from before control measures had log data.

In short, it can be ignored.

[2020-04-17 21:39] jlaura commented on #141
Sort of fixed. Plio only ever writes out v2 nets right now. But #146 fixes the problem for V2 networks and then ISIS will handle versioning.

[2020-04-18 02:08] astrostu commented on #141
What is the difference between v2 and v5 control nets?  I haven't been able to find this documented anywhere.  I'm wondering if it's worth trying to do things with v2 so I can interact better with PLIO, or if I should hold off.

[2020-04-20 14:42] jessemapel commented on #141
@astrostu  the difference has to do with how the data is stored in the file. The V2 networks have problems when they get very large (read multiple GB) that the V5 networks solve.

[2020-04-20 22:35] jlaura commented on #141
Fixed by #146.

[2020-04-20 22:35] #141 closed

[2020-04-20 22:35] jlaura commented on #144
Fixed in #146.

[2020-04-20 22:35] #144 closed

[2020-04-20 22:37] jlaura commented on #108
@jessemapel I think that this can be closed? Now that we have V5 read support in place.

[2020-04-20 22:37] jlaura commented on #99
This was done at some point and the issue was left open.

[2020-04-20 22:37] #99 closed

[2020-04-20 22:38] jlaura commented on #93
Going to close as we aren't building for 3.5 anymore. @dpmayerUSGS Please reopen if you see this happening in py3.6 or py3.7.

[2020-04-20 22:38] #93 closed

[2020-04-20 22:39] jlaura commented on #14
I believe this was fixed by @acpaquette. Either way - this is a very poorly reported issue.

[2020-04-20 22:39] #14 closed

[2020-04-20 22:39] #68 closed

[2020-04-20 22:44] #108 closed

[2020-08-12 21:19] thareUSGS opened #150 "test map projection option in array_to_raster"
https://github.com/USGS-Astrogeology/plio/blob/a55f6d73b238887d0df4e5b6fc829fd96a28f4be/plio/io/tests/test_io_gdal.py#L187
It would be good to add a test for testing map projections during file creation in Plio.

In Pyhat we are running into issues writing map projections from CRISM files. In QGIS, the Python try, except isn't enough to be able to continue writing the files without a projection. T

[2020-09-02 17:57] Kelvinrr opened #151 "Handle ISIS special pixels and dtypes in GeoDataset"
GeoDataset has a habit of reading ISIS special pixels and dtypes incorrectly when opening cubes.

We should somehow extend GeoDataset's functionality for cubes to read the label so the correct dtype is used on read_array and special pixels can be transformed into NoData values.

[2020-09-17 21:42] ryanbanderson opened #152 "No module named pvl._collections"
When I try to import libpyhat, I get an error related to plio:
![image](https://user-images.githubusercontent.com/3344800/93531722-8d9ff300-f8f4-11ea-8f5c-a08083f55091.png)

[2020-09-18 15:28] jessemapel commented on #152
@ryanbanderson What version of PVL do you have installed? They recently release 1.0 and it changed some of the internal around.

[2020-09-21 22:02] ryanbanderson commented on #152
Yeah, looks like that PVL release is the problem. If I downgrade PVL to 0.3.0 things work. I'll submit a fix to plio's import.

[2020-09-22 16:20] jessemapel opened #154 "Update to PVL 1.0"
The PVL library moved to 1.0 and changed some of its internals. Part of this work is #152, but we're seeing other issues such as:

[code]

[2020-09-30 19:59] #152 closed

[2020-10-14 16:40] jlaura commented on #154
@AustinSanders @jessemapel I am having issues with plio and the PVL library was attempting to install as a dependency. I can see that pvl 1.0.1 was installed for the testing. It does not look like pvl 1.0.1 was used for the Conda build (that is then uploaded to anaconda).

Once this release gets to Conda-forge, it looks like the build is still pulling pvl version 0.3.0. https://dev.azure.com/conda

[2020-10-14 16:52] jessemapel commented on #154
Once we tag a release on PLIO, then we will move the conda-forge recipe to PVL >=1.0. This isn't released yet, though, so you will see PVL 0.3.0 on the current conda-forge build. If you're having issues with installing via conda-forge you should post an issue on the conda-forge feedstock.

[2020-10-14 16:55] jlaura commented on #154
The USGS hosted plio has an identical problem. It looks like we only updated 1/2 of this project to PVL 1.0.1. The testing is using 1.0.1, the anaconda build and upload are not. This issue does not look closable because the update is not complete as far as I can tell from the build logs on this repository.

[2020-10-14 17:03] jessemapel commented on #154
I am confused if you are having issues with the conda-forge build or the dev builds?

[2020-10-14 17:06] jlaura commented on #154
Both are broken as far as I can tell. I think that the break in the repo is causing a down stream breakage hence the link to conda-forge builds.

[2020-10-14 17:26] jessemapel commented on #154
@jlaura Can you post your environment config and the error message?

[2020-10-14 21:35] jlaura commented on #154
To replicate:

[code]

The solver then solves to (snippet):
[code]

The plio build looks like the newest. The pvl build is version 0.3.0.

In an interactive terminal:

[code]

Looking at the pvl version in the code base, I see:

[code]

but conda is correct (I think) in listing 0.3.0 (via conda list).

[2020-10-14 22:35] jessemapel commented on #154
@jlaura That is installing the conda-forge version which should use PVL 0.3.0 (I'm not sure why its version is just 0.2). It looks like the dev build we're pushing up is still labeled as 1.2.4 and the solver thinks that the conda-forge 1.2.3 build is better. Can you try `mamba install -c usgs-astrogeology plio=1.2.4=0_dev` to force it to install ours. When I do that, I get Pvl 1.0

[2020-10-14 22:39] jessemapel commented on #154
We should change the version number for our dev builds to avoid this issue, but I'm not sure what it should be.

[2020-10-16 15:07] #154 closed

[2020-11-19 15:21] jessemapel commented on #117
This was resolved by uploading dev builds under a dev label.

[2020-11-19 15:21] #117 closed

[2021-02-22 15:35] #110 closed

[2021-02-22 15:41] jessemapel opened #158 "Expand covariance matrices when reading in ISIS control networks"
ISIS control networks store covariance matrices in compressed format, just one triangle, because they are symmetric matrices. Here's the actual storage order, numbers indicate index in the storage array and "X" indicates absent:

[code]

It would be very helpful if we unpacked these matrices on ingestion and then repacked them on write. Currently, anything that wants to work with this data has to

[2021-03-18 17:05] jessemapel opened #160 "CD build doesn't restrict Pvl version to <1.0"
Installing the CD build using usgs-astrogeology and conda-forge for channels you end up with PVL 1+ which causes import errors.

[code]

[2021-03-20 18:55] jessemapel opened #161 "ISIS Serial Number translation only uses the last translation"
In the ISIS serial number translation logic, the SQLAlchemy model converts the PVL translation string into a [NextedJsonObject](https://github.com/USGS-Astrogeology/plio/blob/master/plio/io/io_db.py#L37) which removes duplicate keys such as the multiple translations. Then, the JSON object gets turned back into a PvlModule. This results in strange behavior like the Galileo translation going from:

[2021-05-09 14:55] jlaura opened #163 "Plio / PVL Installation"
#155 updated plio to support PVL >= 1.0.

It looks like we still need to get the recipe updated and then get the conda-forge recipe corrected. Right now, a CI build of autocnet fails when plio>=1.2.4 and PVL >= 1.0 are specified because pvl._collections can not be found. #155 made the necessary fix for the import, but something is misspecified in the dependencies that is causing down stream issues

[2021-05-25 13:29] jlaura commented on #163
I see that 1.2.5 was just peeled off as a release. It does not look like the PVL version was pinned or set to be range bound in the environment.yml or recipe/meta.yml. How are we enforcing the correction PVL version?

[2021-06-15 11:33] jlaura opened #165 "Unused Jinja2 Dependency"
Conda-forge bot spotted this - it looks like we are declaring jinja2 as a dependency, but I do not see anywhere in the library where jinja is being imported or used. This is based on a quick search of the codebase using the GitHub search tools.

We should update setup.py, meta.yml, and the environment.yml files I believe.

[2021-11-12 16:19] #126 closed

[2021-11-12 17:20] #165 closed

[2021-11-13 13:14] jlaura commented on #163
With https://github.com/conda-forge/plio-feedstock/pull/20 plio is now pulling PVL >=1.3.0 and working as expected.

[2021-11-13 13:14] #163 closed

[2021-11-13 13:14] jlaura commented on #160
Fixed with 1.5.0 https://github.com/conda-forge/plio-feedstock/pull/20

[2021-11-13 13:14] #160 closed

[2021-11-13 13:15] jlaura commented on #106
Fixed with the transition to GH Actions.

[2021-11-13 13:15] #106 closed

[2021-11-13 13:16] jlaura commented on #88
With 1.5.0 this should be working as expected. Please reopen if not!

[2021-11-13 13:16] #88 closed

[2021-11-13 13:17] jlaura commented on #24
I am going to close as I think(?) plio has full GXP read/write support. Let's reopen if not and we can get this issue updated with the current state.

[2021-11-13 13:17] #24 closed

[2021-11-13 13:17] jlaura commented on #85
Installation should be via conda / conda-forge.

[2021-11-13 13:17] #85 closed

[2021-11-13 13:19] jlaura commented on #95
I know this issue is terrifically old! I don't believe it is an issue any longer with how the libs driver is being tested. I am going to close. We should reopen as needed.

[2021-11-13 13:19] #95 closed

[2021-11-13 13:19] jlaura commented on #94
I know that this issue is also quite old. I do not believe it is an issue any longer. I am going to close. Please reopen as needed.

[2021-11-13 13:19] #94 closed

[2021-11-13 13:33] jlaura commented on #161
I think the trick here is to store the translation PVL as a string type in the DB and then to lean more heavily on the PVL library to encode/decode on read/write. That will maintain the duplicate keys.

As a more meta question - what options exist to avoid using duplicate keys in the translation tables? Duplicate keys are quite problematic for JSON (most, but not all implementations as duplicate k

[2021-11-15 14:47] scsides commented on #161
Yes, they are processed from top to bottom, so order could be important, but I don't know of any cases like that. The first one that works is the winner.

[2021-11-15 16:42] thareUSGS commented on #24
We can keep this closed but just to clarify for the future, "reading" in GXP was updated to support the newer GXP-style format for GPFs. But for writing nothing was changed. Thus the current GPF writer in PLIO maintains the original Socet SET-style GPF format. Fortunately, Socet GXP seems to support the Socet SET GPF-style format.

Frankly, we are still not 100% what the new GXP parameters in the

[2021-11-15 16:55] jlaura commented on #24
@thareUSGS Thanks for the clarification. Maybe I'll update the issue name and specify just read. Then we can get a write issue open whenever appropriate.

[2022-05-04 14:00] jessemapel opened #170 "Administrative and Security Code Review"
All software must have an administrative security review before it is made publicly available by any method. This type of review ensures personal, private, or otherwise sensitive information is not included in the repository. Types of sensitive information include:

 -  Personally identifiable information (PII)
 -  Absolute file system paths
 -  Internal server host names or IP addresses
 -  Usern

[2022-05-04 14:00] jessemapel opened #171 "Domain Review"
Domain reviews are specific to Scientific Software (Refer to [Scientific Software IM](https://www.usgs.gov/about/organization/science-support/survey-manual/im-osqi-2016-01-review-and-approval-software)) and ensure the software generates output that aligns with published or otherwise well-known expected results. Domain reviews may involve:

-   Comparing output with external data sets
-   Comparing

[2022-05-04 19:03] jessemapel opened #172 "MetaData Files"
For USGS software release several MetaData files need to be added/updated:

- A code.json file needs to be created and added at the top of the repo
- a DISCLAIMER.md file needs to be created and added at the top of the repo

[2022-05-12 07:17] Kelvinrr commented on #170
From searching the I repo I have found:

* No IP addresses
* No internal server hostnames
* No usernames or passwords, closest thing to usernames are the usernames for control networks which are part of the control network spec. But these are more about tracking who made a control network and not about accessing some service.
* No PII other than Jay's email in `setup.py` and the email in the licen

[2022-05-12 14:29] jessemapel commented on #170
Ephemeral paths for CI are okay.

Any absolute paths for internal systems are not okay. So, we'll need to clean those out or make then relative paths.

[2022-05-12 16:25] jessemapel opened #174 "Mirror to code.usgs.gov"

[2022-05-13 05:40] Kelvinrr commented on #174
Pull mirroring isn't setup for code.usgs, so I think we are going to have to set up CI to simply push to code.usgs.gov whenever something is merged.

[2022-05-23 16:23] jessemapel commented on #172
Doen in #173

[2022-05-23 16:23] #172 closed

[2022-05-26 20:04] Kelvinrr commented on #170
Alright, found another in https://github.com/USGS-Astrogeology/plio/blob/master/plio/io/io_jsc.py, but all paths should be wiped from all history for all branches.

[2022-05-26 20:04] #170 closed

[2022-05-27 16:35] Kelvinrr commented on #174
Forgot to add it to this repo, https://github.com/USGS-Astrogeology/plio/pull/175 should fix it.

[2022-05-27 17:30] ladoramkershner opened #176 "Add Citation for covariance calculation"
Could we add a reference describing the calculation of the covariance?

https://github.com/USGS-Astrogeology/plio/blob/47af64c6f217210ad3409e58d8b0b5e7efd2e6fa/plio/utils/covariance.py#L4

[2022-05-27 18:25] jessemapel commented on #176
What kind of reference are you looking for? The computation is standard error propagation $C_b = J_b(a) C_a J_b^T(a)$ and the jacobian is just the jacobian of the spherical to rectangular transform.

[2022-06-01 15:54] #171 closed

[2022-06-06 20:09] ladoramkershner commented on #176
I agree with just upping the documentation, I don't think there needs to be a name change. I am also a bit worried about changing the return. Wouldn't that be considered API breaking?

[2022-06-06 20:37] jessemapel commented on #176
That is a fuzzy part of API breaks. I would lean towards yes, and that likely makes it not worth it unless we have other breaks we want to do.

[2022-06-06 21:26] ladoramkershner commented on #176
I am fine with just a documentation update! I will try throwing up a PR tomorrow

[2022-06-07 20:56] #176 closed

[2022-07-05 15:16] ritikgshah opened #180 "plio.io.io_moon_minerology_mapper file missing"
I am trying to work with M3 derived products such as band depths, etc. for which I need to use the command:
from plio.io.io_moon_minerology_mapper import M3

Howrever, since plio.io doesn't have the io_moon_minerology_mapper file, I am unable to import it so that I can work with my data using libpyhat derived functions. Is there any way I can get some help with this?

[2022-10-11 12:54] jlaura opened #181 "`to_isis` performs poorly for large networks"
For networks of moderate to large size, say greater than 60k measures, `to_isis` can be quite slow. Below is a line profiler run on a network that has ~60k measures. The majority of the time is being spent creating points, specifically,

[code]

Inside of the point creation, >70% of the time is spent attribute setting. Is this the setattr or is it the iloc? It would be great to check this out and

[2022-10-31 15:03] jessemapel opened #183 "Change default branch from master to main"
Git has moved away from the master/slave branch naming because it's culturally insensitive. Instead, new git repos now use main as the default branch. This repo still uses the old master primary branch and we should update it to use the new default branch name.

This would be a minor disruption to work.

Open pull requests will need to be changed to pull into main instead. This should not impact c

[2022-10-31 15:04] jessemapel commented on #183
I would like to coordinate this work across our public GitHub repos so that everyone can make the same change all at once instead of staggering it and confusing people. See:

https://github.com/USGS-Astrogeology/ale/issues/505

https://github.com/USGS-Astrogeology/knoten/issues/106

https://github.com/USGS-Astrogeology/swigcsm/issues/35